# Build outputs
**/bin/*
!packages/**/bin/cli
build/dist/
build/build/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
.eggs/

# Virtual environment
venv/
env/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Logs
*.log

# Node / NPM
node_modules/
package-lock.json
pnpm-lock.yaml
*.tgz
.npmrc
packages/*/bin/markitdown
packages/*/bin/markitdown.exe
